result.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="result">
    <xs:complexType>
        <xs:sequence>
            <xs:element name="user" type="xs:string"/>
            <xs:element name="score" type="xs:string"/>
            <xs:element name="exercise" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
</xs:element>
</xs:schema>



